<div id="landing">
  <div class="row">
    <div class="twocol"></div>
    <div class="sixcol">
      <div class="logo"><img src="images/Yammerfall_white.png"/></div>
    </div>
    <div class="twocol last"></div>
  </div>
  <div class="row">
    <div class="twocol"></div>
    <div class="sixcol">
      <div class="yam">
        <div class="blurb">
          <p>Yammerfall is a continuous stream of messages on Yammer, the social
          network for your company. To get started, sign in.</p>
          <div id="login-button"><span id="yammer-login"></span></div>
        </div>
      </div>
    </div>
    <div class="twocol last"></div>
  </div>
</div>

<div class="row">
  <div class="twelvecol last">
    <div id="feed"></div>
  </div>
</div>
  












