  <div class="row">
    <div class="sevencol">
      <div class="logo"><img id="header-logo" class="hidden" src="images/Yammerfall_white.png"/></div>
    </div>
    <div class="fivecol last">
      <ul id="header-links" class="hidden">
		<li><span id="feed-filter"></span></li>
		<li><a href="#" id="settings">Settings</a></li>
        <li><a href="#" id="logout">Logout</a></li>
      </ul>
    </div>
    <div class="twocol last"></div>
  </div>
  


