<div id="settings-dialog" class="hidden" title="Yammerfall Settings">
	<p class="validateTips">Select a group feed or topic feed, or apply a custom look.</p>

	<form>
	  <fieldset>
  		<label for="group">Group</label>
  		<select name="group" id="group" class="ui-widget-content ui-corner-all"><select><br/>
  		<label for="topic">Topic&nbsp;</label>
    	<input type="text" name="topic" id="topic" class="text ui-widget-content ui-corner-all"/><br/>
		<span class="instructions">Enter a custom logo URL. The image will be scaled to 50 px high.</span><br/>
		<label for="logoUrl">Logo&nbsp;&nbsp;</label>
		<input type="text" id="logoUrl" name="logoUrl" value="" class="text ui-widget-content ui-corner-all" /><br/>
		<label for="group">Color&nbsp;</label>
		<input type="text" id="color" name="color" value="#0092bc" class="text ui-corner-all" />
		<div id="colorpicker"></div><br/>
		
  	</fieldset>
	</form>
</div>