<div id="settings-dialog" class="hidden" title="Yammerfall Settings">
	<p class="validateTips">Select a group feed to display.</p>

	<form>
	  <fieldset>
  		<label for="group">Group</label>
  		<select name="group" id="group" class="ui-widget-content ui-corner-all"><select><br/>
  		<!--<label for="topic">Topic&nbsp;</label>
    	<input type="text" name="topic" id="topic" class="text ui-widget-content ui-corner-all"/>-->
  	</fieldset>
	</form>
</div>